
@font-face 
{
	font-family: 'Raleway-VariableFont_wght';
	src:url('fonts/Raleway-VariableFont_wght.ttf');
	font-style: normal;
	font-weight: normal;
}
body
{
	font-family: Raleway-VariableFont_wght;
}

header
{ 
	display: flex;
 	justify-content: space-between;
    align-items: flex-end; 
}


#Logo img
{

    width: 100px;
    height: auto;
}

.page
{
    margin-left: 4%;
    margin-right: 4%;
}


/* Body*/

section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
    background-color: #F2F2F2;
    border-radius: 5px;
}

article a
{
    text-decoration: none;
    color: black;
    flex: 0 0 29.333%;
}

aside a
{
    text-decoration: none;
    color: black;
    flex: 0 0 29.333%;
}





aside
{
    flex: 1.2;
    position: relative;
    background-color: #F2F2F2;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.9em;
}



/* NAVIGATION */
.show-html
{
    display: none;
}

nav ul
{
    list-style-type: none;
    display: flex;

}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1em;
    padding-bottom: 3px;
    text-decoration: none;
    color: black;
    margin: 0px 15px 0px 15px;
}



nav a:hover
{
    color: #0065FC;
    border-top: solid 3px #0065FC;
    padding-top: 22px;
}

/*FILTRE*/

#filtres
{
	display: flex;
    align-items: center;
}

#button-desktop
{
    padding: 14px 15px 18px 15px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

#formulaire-recherche input
{
    border: solid #F2F2F2 1px;
}

#formulaire-recherche input[type="submit"]
{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 0px 15px 15px 0px;
    border: none;
}

.rechercher
{
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 0px 5px 5px 0px;

}

.rechercherT
{
    padding: 15px;
}

.rechercher-mobile
{
    display: none;
}

#boutons-filtres
{
    display: flex;
    width: 100%;
}

#boutons-filtres a
{
    border: solid #CCC 2px;
    border-radius: 30px;
    font-size: 16px;
    padding: 0px 30px 0px 0px;
    color: black;
    text-decoration: none;
    font-weight: 900;
    margin-left: 2%;
    margin:15px 0px 0px 20px;
    display: flex;
    align-items: center;
}

#boutons-filtres a:hover
{
    background-color: #DEEBFF;
}

#filtres h3
{
    margin: 15px 0px 0px 0px;
}

.liens-filtres i
{
    border-radius: 30px;
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 11px;
    margin: -2px 0px -1px -2px;
}

.liens-filtres p
{
    margin: 0;
}

#paragraph 
{
    display: flex;
    padding: 11px;
    align-items: baseline;

}

#paragraph p
{
    padding: 7px;
}







/* Hébergements à Marseille */

.background-annonce-hebergements
{
	background-color: white;
    border-radius: 25px;
    margin: 2% 1% 2% 1%;
    height: 200px;
    min-width: 220px;
    padding: 5px;
    box-shadow: grey 0px 0px 15px;
    flex: 0 0 29.333%;
}

.background-hebergements
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}

.photo-hebergements
{
    position: relative;
    height: 100%;
}

.img-hebergements
{
    background-position: center;
    background-size: cover;
    height: 90%;
    border-radius: 25px;
}

#cannebiere .img-hebergements
{
    background-image: url("images/hebergements/AubCannebiere.jpg");
}

#port .img-hebergements
{
    background-image: url("images/hebergements/port.jpg");
}

#mouettes .img-hebergements
{
    background-image: url("images/hebergements/mouettes.jpg");
}

#laMer .img-hebergements
{
    background-image: url("images/hebergements/laMer.jpg");
}

#panier .img-hebergements
{
    background-image: url("images/hebergements/panier.jpg");
}

#Amina .img-hebergements
{
    background-image: url("images/hebergements/Amina.jpg");
}

.photo-hebergements img-hebergements
{
    border-radius: 25px;
    padding: 5px;
    height: 100%;
}

.description-hebergements
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    height: 30%;
    border-radius: 0px 0px 25px 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5% 0% 5% 5%;
}

.description-hebergements >*
{
    margin: 0;
}

.description-hebergements h3
{
    font-size: 17px;
}

.stars
{
    display: flex;
}

.blue
{
    color: #0065FC;
}

.grey
{
    color: #DEEBFF;
}

article h2
{
    margin-left: 4%;
}

#afficher-plus 
{
	margin: 2% 4% 2% 4%;
}



/* LES PLUS Populaires */

#h2-populaires
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#h2-populaires i
{
    font-size: 1.5em;
}

aside
{
    padding: 10px 3% 10px 3%;
}

#background-aside
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85%;
}

.background-annonce-aside
{
    background-color: white;
    border-radius: 25px;
    height: 100%;
    padding: 5px 150px 5px 5px;
    box-shadow: grey 0px 0px 15px;
    min-width: 210px;
}

.photo-aside
{
    position: relative;
    height: 100%;
}


.img-aside
{
    background-position: center;
    background-size: cover;
    height: 100%;
    border-radius: 25px;
}

.titre-populaires
{
    margin: 0;
    padding-top: 10px;
}

.titre-populaires h3
{
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: start;
}

.titre-populaires p
{
    margin-top: 0px;
}

.description-aside
{
    position: absolute;
    left: 60%;
    right: -141px;
    bottom: 0px;
    background-color: white;
    height: 94.5%;
    border-radius: 0px 25px 25px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0% 0% 5% 5%;
}


.description-aside h3
{
    font-size: 17px;
}



#soleil .img-aside
{
    background-image: url(images/hebergements/soleil.jpg);
}

#eau .img-aside
{
    background-image: url(images/hebergements/eau.jpg);
}

#bleu .img-aside
{
    background-image: url(images/hebergements/bleu.jpg);
}


/* Activités à Marseille */

#background-activites
{
    display: flex;
    justify-content: space-between;
}


.background-annonce-activites
{
    background-color: white;
    border-radius: 25px;
    margin: 0px 0px 0px 0px;
    height: 200px;
    width: 240px;
    padding: 0px 10px 10px 0px;    
}

.background-annonce-activites-1
{
    background-color: white;
    border-radius: 25px;
    height: 450px;
    width: 300px;
    padding: 0px 10px 10px 0px;
  
}

.photo-activites
{
    position: relative;
    height: 100%;
    box-shadow: #CACACA 0px 0px 15px;
    border-radius: 30px;
}

.img-activites
{
    background-position: center;
    background-size: cover;
    height: 85%;
    border-radius: 25px 25px 0px 0px;
}


.description-activites
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    height: 15%;
    border-radius: 0px 0px 25px 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5% 0% 5% 5%;
}

.description-activites-1
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    height: 8%;
    border-radius: 0px 0px 25px 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5% 0% 5% 5%;
}


.description-activites >*
{
    margin: 0;
}

.description-activites h3
{
    font-size: 17px;
    color: black;
}

.description-activites-1 h3
{
    font-size: 17px;
    color: black;
    margin: 0;
}

#vieuxport .img-activites
{
    background-image: url(images/activites/Vieuxport.jpg);
}

#Pomègues .img-activites
{
    background-image: url(images/activites/Pomègues.jpg);
}

#Frioul .img-activites
{
    background-image: url(images/activites/Frioul.jpg);
}



#Calanques .img-activites
{
    background-image: url(images/activites/Calanques.jpg);
}


#Garde .img-activites
{
    background-image: url(images/activites/Garde.jpg);
}


#Longchamp .img-activites
{
    background-image: url(images/activites/Longchamp.jpg);
}


#PandF
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Pomègues
{
    height: 255px;
}

#Frioul
{
    height: 150px;
}

#GandL
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}









footer
{
    display: flex;
    background-color: #F2F2F2;
    padding-top: 25px;
    margin-top: 25px;
}

footer h3
{
    margin-left: 11%;
}


footer ul
{
    margin-left: 3%;
	list-style-type: none;
}
footer a
{
	color: black;
	text-decoration: none;
}

#apropos
{
    width: 33%;
}

#NosHebergements
{
    width: 33%;
}

#Assistance
{
    width: 33%;
}

#liste_apropos, #liste_NosHebergements, #liste_Assistance
{
    line-height: 2.3em;
}






/* MOBILE */
@media only screen and (max-width: 480px)
{
    .show-html
    {
        display: inline-block;
    }

    .hide-nav
    {
        visibility: hidden;
    }

    .show-html ul
    {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .show-html ul li
    {
        width: 100%;
        text-align: center;
    }

    .show-html a
    {
        text-decoration: none;
        font-size: 1.5em;
        padding-bottom: 15px;
        color: black;
        width: 100%;
        display: inline-block;
        padding-top: 10px;
        border-bottom: solid 3px #F2F2F2;
    }

    .show-html a:hover
    {
        color: #0065FC;
        border-bottom: solid 3px #0065FC;
    }

    .show-html
    {
        width: 100vw;
        margin-left: -6%;
    }

    nav ul
    {
        display: flex;
        margin-left: -20%;
    }

    #rechercher
    {
        text-align: center;
    }

    .rechercherT
    {
        padding: 14px;
        width: 50%;
    }

    .rechercher-mobile
    {
        display: inline-block;
        margin-left: -15px;
    }

    .rechercher
    {
        display: none;
    }

    #button-mobile
    {
        background-color: transparent;
        padding: 0;
    }

    #formulaire-recherche button[type="submit"]
    {
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        padding: 15px;
        border-radius: 15px 15px 15px 15px;
        border: none;
    }


    /*filtres*/

    #filtres, #boutons-filtres
    {
        flex-wrap: wrap;
    }

    #filtres h3
    {
        margin-left: 3%;
    }

    /*LES PLUS POPULAIRES Mobile*/

    .description-aside
    {
        left: 80%;

    }

    
    section
    {
        flex-direction: column-reverse;
    }

    .background-annonce-aside
    {
        height: 160px;
        margin: 10px 17px 10px 25px;
        padding-top: 7px;
        min-width: 185px;
    }
    
    aside
    {
        width: 100vw;
        margin-left: -6%;
        padding: 0;
    }

    #h2-populaires
    {
        margin: 15px 15px 0px 15px;
    }

    #h2-populaires h2
    {
        margin-left: 6%;
    }


    #h2-populaires i
    {
        margin-right: 4%;
    }

    #background-aside
    {
        margin: 0px 15px 15px 15px;
    }


    /*Hébergements à marseille MOBILE*/

    article
    {
        flex-direction: column;
        background-color: white;
    }
    

    .background-annonce-hebergements
    {
        min-width: 385px;
        height: 228px;
        margin: 2% 1% 2% 4%;
    }

    /*Activités à MARSEILLE Mobile*/

    #activites
    {
         margin-left: 4%;
    }

    #background-activites
    {
        flex-direction: column;
        padding-left: 7%;
        padding-right: 10%;
    }
   

    .background-annonce-activites
    {
        padding: 0px 10px 10px 0px;
        min-width: 400px;
        height: 255px;
        margin: 0px 0px 0px -8px;

    }

    .background-annonce-activites-1
    {
        min-width: 400px;
        height: 255px;
        margin: 0px 0px 0px -8px;
    }
   
    #Frioul
    {
        height: 270px;
    }
   
    .photo-activites
    {
        height: 90%;
        min-width: 100%;
    }

    /*FOOTER MOBiLE*/

    footer h3
    {
        margin-left: 12%;
    }

    footer
    {
        flex-direction: column;
    }

    footer ul
    {
        margin-left: 12%;
        padding: 0;
    }

    #apropos, #NosHebergements, #Assistance
    {
        width: 100%;
    }




}
